{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="user-info">
        <h1>My Followers' Posts</h1>
    </div>
    <div class="post-container">
        <nav aria-label="..." class="pagination-container">
            <ul class="pagination">
                <li 
                    class="page-item 
                        {% if not posts.has_previous %}
                            disabled
                        {% endif %}"
                >
                    {% if posts.has_previous %}
                        <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                    {% else %}
                        <span class="page-link">Previous</span>
                    {% endif %}
                </li>
                {% for page in posts.paginator.page_range %}
                    <li
                        class="page-item 
                            {% if page == posts.number %}
                                active
                            {% endif %} 
                            {% if page < 1 or page > posts.paginator.num_pages %}
                                disabled
                            {% endif %}"
                    >
                        {% if page == posts.number %}
                            <span class="page-link">{{ page }}</span>
                        {% else %}
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                <li 
                    class="page-item 
                        {% if not posts.has_next %}
                            disabled
                        {% endif %}"
                >
                    {% if posts.has_next %}
                        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                    {% else %}
                        <span class="page-link">Next</span>
                    {% endif %}
                </li>
            </ul>
            <p>Displaying ({{ posts.start_index }} - {{ posts.end_index }}) of {{ posts.paginator.count }} posts</p>
        </nav>
        {% if posts %}
            {% for post in posts %}
                <div class="post" id={{post.id}}>
                    <div class="d-flex w-100 justify-content-between">
                        <h2 class="username">
                            <a href="{% url 'user_profile' post.user.username %}">
                                @{{ post.user.username }}
                            </a>
                        </h2>
                        <small>{{ post.timestamp }}</small>
                        <!-- add delete icon -->
                        {% if user.is_authenticated and user == post.user %}
                            <a href="{% url 'delete_post' post.id %}" class="delete-post">
                                <img src="{% static 'network/images/bin.png' %}" alt="delete post icon">
                            </a>
                        {% endif %}
                    </div>
                    <p>"{{ post.content }}"</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts found.</p>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}