{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="user-info">
        <h1>My Followers' Posts</h1>
    </div>
    <div class="post-container">
        {% if not posts %}
            <p>No user is followed or posts are found.</p>
        {% else %}
            <nav aria-label="..." class="pagination-container">
                <ul class="pagination">
                    <li 
                        class="page-item 
                            {% if not posts.has_previous %}
                                disabled
                            {% endif %}"
                    >
                        {% if posts.has_previous %}
                            <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                        {% else %}
                            <span class="page-link">Previous</span>
                        {% endif %}
                    </li>
                    {% for page in posts.paginator.page_range %}
                        <li
                            class="page-item 
                                {% if page == posts.number %}
                                    active
                                {% endif %} 
                                {% if page < 1 or page > posts.paginator.num_pages %}
                                    disabled
                                {% endif %}"
                        >
                            {% if page == posts.number %}
                                <span class="page-link">{{ page }}</span>
                            {% else %}
                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li 
                        class="page-item 
                            {% if not posts.has_next %}
                                disabled
                            {% endif %}"
                    >
                        {% if posts.has_next %}
                            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                        {% else %}
                            <span class="page-link">Next</span>
                        {% endif %}
                    </li>
                </ul>
                <p>Displaying ({{ posts.start_index }} - {{ posts.end_index }}) of {{ posts.paginator.count }} posts</p>
            </nav>
            {% for post in posts %}
                <div class="post" id={{post.id}}>
                    <div class="d-flex w-100 justify-content-between">
                        <h2 class="username">
                            <a href="{% url 'user_profile' post.user.username %}">
                                @{{ post.user.username }}
                            </a>
                        </h2>
                        <small>{{ post.timestamp }}</small>
                        <!-- add delete icon -->
                        {% if user.is_authenticated and user == post.user %}
                            <a href="{% url 'delete_post' post.id %}" class="delete-post">
                                <img src="{% static 'network/images/bin.png' %}" alt="delete post icon">
                            </a>
                        {% endif %}
                    </div>
                    <p id="post_content_{{ post.id }}">"{{ post.content }}"</p>
                    {% if user.is_authenticated %}
                        {% if user != post.user %}
                            {% if post.id in post_liked %}
                                <div id="like_root_{{ post.id }}">
                                    <button class="btn btn-primary" id="like_button_{{ post.id }}" onclick="handleLike('{{ post.id }}', true)">
                                        <i class="bi bi-heart-fill" id="like_icon_{{ post.id }}">{{ post.like_count }}</i>
                                    </button>
                                </div>
                            {% else %}
                                    <div id="like_root_{{ post.id }}">
                                        <button class="btn btn-outline-primary" id="{{ post.id }}" onclick="handleLike('{{ post.id }}', false)">
                                            <i class="bi bi-heart" id="like_icon_{{ post.id }}">{{ post.like_count }}</i>
                                        </button>
                                    </div>
                            {% endif %}
                        {% else %}
                            <!-- Disable like button for user's own posts -->
                            <div id="like_root_{{ post.id }}">
                                <button class="btn btn-outline-secondary like-disabled" id="{{ post.id }}" disabled>
                                    <i class="bi bi-heart" id="like_icon_{{ post.id }}">{{ post.like_count }}</i>
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}