{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
    <div class="new-post">
        <h2>New Post</h2>
        <form action="{% url 'compose' %}" method="POST">
            {% csrf_token %}
            <textarea 
                name="content" 
                class="form-control" 
                id="new-post" 
                placeholder="Enter your new post content here"
                required
            >
            </textarea>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
    {% else %}
        <p>You must be <a href="{% url 'login' %}">logged in</a> to post.</p>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}