{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div class="post-container">
            <h2>New Post</h2>
            <form action="{% url 'compose' %}" method="POST">
                {% csrf_token %}
                <textarea 
                    name="content" 
                    class="form-control" 
                    id="new-post" 
                    placeholder="Enter your new post content here"
                    required
                >
                </textarea>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
        {% else %}
            <p>You must be <a href="{% url 'login' %}">logged in</a> to post.</p>
    {% endif %}
    <div class="post-container">
        {% for post in posts %}
            <div class="post">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="username">@{{ post.user.username }}</h2>
                    <small>{{ post.timestamp }}</small>
                    <!-- add delete icon -->
                    {% if user.is_authenticated and user == post.user %}
                        <a href="{% url 'delete_post' post.id %}" class="delete-post">
                            <img src="{% static 'network/images/bin.png' %}" alt="delete post icon">
                        </a>
                    {% endif %}
                </div>
                <p>"{{ post.content }}"</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}