{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="user-info">
        <h1>All Posts</h1>
    </div>
    {% if user.is_authenticated %}
        <div class="post-container">
            <h2>New Post</h2>
            <form action="{% url 'compose' %}" method="POST">
                {% csrf_token %}
                <textarea 
                    name="content" 
                    class="form-control" 
                    id="new-post" 
                    placeholder="Enter your new post content here"
                    required
                ></textarea>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
        {% else %}
            <p>You must be <a href="{% url 'login' %}">logged in</a> to post.</p>
    {% endif %}
    <div class="post-container">
        <nav aria-label="..." class="pagination-container">
            <ul class="pagination">
                <li 
                    class="page-item 
                        {% if not posts.has_previous %}
                            disabled
                        {% endif %}"
                >
                    {% if posts.has_previous %}
                        <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                    {% else %}
                        <span class="page-link">Previous</span>
                    {% endif %}
                </li>
                {% for page in posts.paginator.page_range %}
                    <li
                        class="page-item 
                            {% if page == posts.number %}
                                active
                            {% endif %} 
                            {% if page < 1 or page > posts.paginator.num_pages %}
                                disabled
                            {% endif %}"
                    >
                        {% if page == posts.number %}
                            <span class="page-link">{{ page }}</span>
                        {% else %}
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                <li 
                    class="page-item 
                        {% if not posts.has_next %}
                            disabled
                        {% endif %}"
                >
                    {% if posts.has_next %}
                        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                    {% else %}
                        <span class="page-link">Next</span>
                    {% endif %}
                </li>
            </ul>
            <p>Displaying ({{ posts.start_index }} - {{ posts.end_index }}) of {{ posts.paginator.count }} posts</p>
        </nav>
        {% if posts %}
            {% for post in posts %}
                <div class="post" id={{post.id}}>
                    <div class="d-flex w-100 justify-content-between">
                        <h2 class="username">
                            <a href="{% url 'user_profile' post.user.username %}">
                                @{{ post.user.username }}
                            </a>
                        </h2>
                        <small>{{ post.timestamp }}</small>
                        {% if user.is_authenticated and user == post.user %}
                            <div class="edit-post">
                                <button 
                                    data-toggle="modal" 
                                    data-target="#modal_{{ post.id }}" data-post-id="{{ post.id }}">
                                    Edit <img src="{% static 'network/images/edit_pen.png' %}" alt="edit post icon">
                                </button>
                            </div>
                            <a href="{% url 'delete_post' post.id %}" class="delete-post">
                                <img src="{% static 'network/images/bin.png' %}" alt="delete post icon">
                            </a>
                            <!-- Bootstrap Modal -->
                            <div class="modal fade" id="modal_{{ post.id }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal_label_{{ post.id}}">Edit Post</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea 
                                                name="content" 
                                                class="form-control" 
                                                id="edit_post_{{ post.id }}" 
                                                placeholder="Enter your updated post content here"
                                                rows="25"
                                                required
                                            >{{ post.content }}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="handleEditPost('{{ post.id }}')">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <p id="post_content_{{ post.id }}">"{{ post.content }}"</p>
                    <div id="like_button_{{ post.id }}">
                        {% if post.post_liked %}
                            <button 
                                type="button"
                                class="btn btn-primary
                                id="like_button_{{ post.id }}"
                                onclick="handleUnlikePost('{{ post.id }}')">
                                <i class="bi bi-heart-fill" id="like_count_{{ post.id }}">
                                    {{ post.user_likes.count }}
                                </i>
                            </button>
                        {% else %}
                            <button
                                type="button"
                                class="btn btn-outline-primary
                                id="like_button_{{ post.id }}"
                                onclick="handleLikePost('{{ post.id }}')">
                                <i class="bi bi-heart" id="like_count_{{ post.id }}">
                                    {{ post.user_likes.count }}
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts to display.</p>
        {% endif %}
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}