.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.pagination {
  padding: 0;
  margin: 0;
}

.post-container {
  margin: 20px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.post-container textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post {
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

/* Display the edit and delete icon to the top right of the post */
.post .edit-post {
  display: flex;
  position: absolute;
  gap: 10px;
  padding: 1px;
  top: -25px;
  right: 30px;
  background-color: #90e0ef;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post .delete-post {
  position: absolute;
  top: -20px;
  right: -5px;
}

.post .delete-post img {
  width: 25px;
  height: 25px;
}

.post .delete-post img:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.post .edit-post img {
  width: 25px;
  height: 25px;
}

.username {
  font-weight: bold;
  font-size: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.user-info div {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
}
